<div class="container mt-3">
  <section>
    <h3 id ="title" class="pl-3 text-primary">Popular Movies</h3>
    <div class="row mx-auto">
      <div class="movies-list col-sm-3" *ngFor="let movie of movies">
        <div class="card">
          <a (click)="NavigateToMovieDetails(movie.id)">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title movie-title">{{movie.title}}</h6>
              <p class="card-text">{{movie.vote_average}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>