<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <!-- form card Register -->
          <div class="card bg-secondary border-primary text-white rounded-0">
            <div class="card-header">
              <h3 id='title' class="mb-0">Register</h3>
            </div>
            <div class="card-body">
              <form [formGroup]="registerForm">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input id='firstName' type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  registerForm.controls.firstName.errors }"
                  />
                  <div *ngIf="submitted && registerForm.controls.firstName.errors" class="invalid-feedback">
                    <div *ngIf=" registerForm.controls.firstName.errors.required">First Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input id='lastName' type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  registerForm.controls.lastName.errors }"
                  />
                  <div *ngIf="submitted &&  registerForm.controls.lastName.errors" class="invalid-feedback">
                    <div *ngIf=" registerForm.controls.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="userId">User ID</label>
                  <input id='userId' type="text" formControlName="userId" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  registerForm.controls.userId.errors }"
                  />
                  <div *ngIf="submitted &&  registerForm.controls.userId.errors" class="invalid-feedback">
                    <div *ngIf=" registerForm.controls.userId.errors.required">userId is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input id='password' type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  registerForm.controls.password.errors }"
                  />
                  <div *ngIf="submitted &&  registerForm.controls.password.errors" class="invalid-feedback">
                    <div *ngIf=" registerForm.controls.password.errors.required">Password is required</div>
                    <div *ngIf=" registerForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button id="btnRegister" (click)="save()" [disabled]="loading" class="btn btn-warning">Register</button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                  />
                  <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>