<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Movie Cruiser</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/movies">Popular Movies<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="myWishlist" class="nav-link" routerLink="/wish-list">WishList</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input id='search' class="form-control mr-sm-2" type="search"  [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Movie Search" aria-label="Search">
        <button id='btnSearch' class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch()" type="submit">Search</button>
      </form>
      <form *ngIf="isLoggedIn" class="form-inline my-2 my-lg-0">
        <a routerLink="/login" class="btn btn-danger ml-2 " >Logout</a>
      </form>
    </div>
  </nav>