  <div *ngIf="movie" class="container" id="movie-content" style="background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_face/{{movie.backdropPath}}')">
  <div class="row">
    <div id="movie-poster" class="col-xs-10 col-sm-6 col-lg-4">
      <img class="img-responsive" itemprop="image" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}"
        alt="{{movie.title}}">
    </div>
    <div id="movie-info" class="col-xs-10 col-sm-14 col-md-7 col-lg-8 col-lg-offset-1">
      <div class="hidden-xs-down">
        <h2 id='title'>{{movie.title}}</h2>
        <h4 class="mt-2">{{movie.release_date | date:"y"}}</h4>
      </div>
      <p id="overview" class="hidden-xs-down hidden-sm-down mt-2">
        <strong>
          Overview:
        </strong>
        <br> {{movie.overview}}
      </p>
      <div class="bottom-info">
        <div class="rating-row">
          <span title="Likes" class="icon icon-heart">
            <strong>
              Likes:
            </strong>
          </span>
          <span id="movie-likes">{{movie.vote_count}}</span>
        </div>
        <div class="rating-row ">
          <span>
            <strong>
              Content warning:
            </strong> {{movie.adult ? "Yes": "No"}}</span>
        </div>
        <div class="rating-row" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
          <span title="Rating">
            <strong>
              Rating:
            </strong>
          </span>
          <span itemprop="ratingValue">{{movie.vote_average}}</span>
          <span class="hidden-xs-down icon-star"></span>
        </div>
      </div>
      <div class="form-group mt-3">
        <label class="control-label">Comments</label>
        <textarea id="comments" class="form-control" [(ngModel)]="movie.comments"></textarea>
      </div>
      <div class="form-group">
        <button id="btnWishList" type="button" class="btn btn-primary" (click)="Save(movie)">Add to Wishlist</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="movies" class="container mt-3">
  <hr>
  <section>
    <h6 id="recomentedMovies" class="pl-2">Recommended Movies</h6>
    <div class="row mx-auto">
      <div class="col-sm-3" *ngFor="let movie of movies">
        <div class="card">
          <a (click)="NavigateToMovieDetails(movie.id)">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title movie-title">{{movie.title}}</h6>
              <p class="card-text">{{movie.vote_average}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>